Django>=1.11.1,<2.0.0
django-admin-bootstrapped==2.5.4
gunicorn
django-extensions
pytest
pytest-django
pendulum
tabulate
django-dirtyfields
weasyprint!=46,!=47
PyPDF2
qrcode
django-polymorphic
pathos
django-cleanup
django-bootstrap4
psycopg2-binary
django-paginated-modelformset
django-autocomplete-light==3.2.10


