arrow
attrs
Bottleneck
boto3
bottle
cchardet
cycler
db.py
docopt
enum34
envelopes
fire
Flask
ftputil
functools32
h5py
httplib2
ipywidgets
jupyter
kafka
lxml
markdown
MarkupSafe
#matplotlib
mock
netCDF4
nco
nose
#numpy
openpyxl
#pandas
paramiko
pathtools
patsy
pillow
pycurl
PyMySQL
pyOpenSSL
pypandoc
pyproj
pyparsing
pytz
PyYAML
requests
rpy2<2.9  # starting from rpy2 2.9, Python2.7 is no longer supported
scikit-learn
#scipy
seaborn
simplekml
six
SQLAlchemy
statsmodels
twine
urllib3
wget
wsgiref
xlrd
xlwt
xlutils
xmltodict

