sqlalchemy
ConfigParser
Flask>=0.11.1
Flask-SQLAlchemy>=2.1
Flask-Cors>=3.0.0
Flask-Login
Flask-Resize
Flask-WTF
Flask-API
#MySQL-python>=1.2.5
mysqlclient
werkzeug
uwsgi
jinja2
itsdangerous
click
Pillow
wtforms
python-dateutil

