alembic==0.9.9
appdirs==1.4.3
astroid==1.6.3
atomicwrites==1.2.1
attrs==18.1.0
bcrypt==3.1.4
black==18.9b0
camel==0.1.2
cffi==1.11.5
classtools==0.1
click==6.7
coverage==4.5.1
Flask==1.0.2
git+https://gitlab.com/iba-aes/webcie/htmlelement.git@master
hypothesis==3.56.7
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.1.0
pathlib2==2.3.2
phpserialize==1.3
pluggy==0.8.0
py==1.5.3
pycparser==2.18
pylint==1.8.4
PyMySQL==0.8.0
pytest==4.0.1
pytest-cov==2.5.1
pytest-flask==0.13.0
python-dateutil==2.7.2
python-dotenv==0.9.1
python-editor==1.0.3
PyYAML==3.13
scandir==1.9.0
six==1.11.0
SQLAlchemy==1.2.7
toml==0.10.0
Werkzeug==0.14.1
wrapt==1.10.11

