# -*- coding: utf-8; mode: conf-unix -*-
# :Project:   metapensiero.sqlalchemy.asyncpg -- Development requirements
# :Created:   ven 01 dic 2017 09:37:33 CET
# :Author:    Lele Gaifax <lele@metapensiero.it>
# :License:   GNU General Public License version 3 or later
# :Copyright: © 2017, 2018 Lele Gaifax
#

-r requirements-test.txt

metapensiero.tool.bump-version==1.3
readme-renderer==17.2
sphinx==1.6.5

