django>=1.11,<1.11.99
beautifulsoup4==4.5.3
psycopg2
Pillow==3.3
lxml==3.4
feedparser==5.2.1
django-tinymce==1.5.3
icalendar==3.8
chardet==2.3
py3exiv2==0.2.1
gdal>=2.1.0,<2.1.99
osmapi==0.6.2
PyTidyLib==0.3.1

