
Pillow
# Version history:
# https://pypi.org/project/Pillow/#history

###############################################################

# ExifRead
# Version history:
# https://pypi.org/project/ExifRead/#history

#GPSPhoto
# At the time of writing the latest version is 2.1.2
# https://pypi.org/project/GPSPhoto/#history



