django==2.1.2
django-extensions==2.1.3
django-haystack==2.8.1
matplotlib==3.0.0
mysqlclient==1.3.13
nltk==3.3
numpy==1.15.3
pyparsing==2.2.2
scipy==1.1.0
pandas==0.23.4
seaborn==0.9.0
pysolr==3.8.1
sbtab==0.9.62
enzyme-cost-minimization==0.1.5
equilibrator-api==0.1.7
stopit==1.1.2

