#
# runtime dependencies
#

addict==2.1.1
docopt==0.6.2
appdirs==1.4.3
better-exceptions==0.1.8
colorama==0.3.9
terminaltables==3.1.0
PyYAML==3.12

requests==2.18.1
requests-toolbelt==0.8.0
tqdm==4.14.0
imgurpython==1.1.7

Jinja2==2.9.6

#pyperclip==1.5.27
#Pillow==4.1.1
#pytvmaze==2.0.8
#python-tvrage==0.4.1
#IMDbPY==5.1.1

