six>=1.9
psycopg2==2.5.4
django-registration==2.2
django==1.11.18
Pillow==3.4.2
WeasyPrint==0.41
html5lib==0.999999999

pyqrcode==1.2.1
pypng==0.0.19
xmltodict==0.10

requests==2.12

dbf==0.96.003
python-memcached==1.57
# celery==4.2.1  ## not mandatory
djangorestframework==3.4

pytidylib==0.3.2
lxml==3.4.0

django-extra-views==0.12.0
beautifulsoup4==4.5.3
markdown==2.5.1
django-ajax-selects==1.6.0
django-compressor==2.1

django-formtools==2.0

secretary==0.2.19
unidecode
virtualtime==1.6  # time for year before 1900 and before 1000 on python < 3.2

-e git+https://github.com/treyhunner/django-simple-history.git@1.8.2#egg=django-simple-history

django-extensions==1.7.4

