gunicorn
pymysql
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-Script
Flask-WTF
Flask-Restless
flask-cloudy
Jinja2
Mako
MarkupSafe
SQLAlchemy
WTForms
Werkzeug
alembic
blinker
itsdangerous
commonmark
datatables
-e git+https://github.com/svpino/rfeed.git@72bbb9a3e86d8b62db4847f3976cc9bae3a25a03#egg=rfeed-master

