babel
google-api-python-client
oauth2client
dnsq
stripe
urllib3[secure]
Pillow

# NOTE Google AppEngine provides the following modules, and
# loading them separately seems to raise anomalous conflicts.
# jinja2

