anytree==2.4.3
pandas==0.23.0
python-dotenv==0.9.1
psycopg2-binary==2.7.5
requests==2.18.4
sqlalchemy==1.2.7
request

# development requirements
jupyter
jupytext==0.8.6
matplotlib_venn
pandas-profiling==1.4.1

# test requirements
pycodestyle
pytest
pytest-env

