aiohttp==3.6.2              # fluidasserts
androguard==3.3.5           # fluidasserts.format.apk
azure-common==1.1.24        # fluidasserts.azure
azure-identity==1.3.0       # fluidasserts.azure
azure-keyvault==4.0.0       # fluidasserts.azure
azure-mgmt-security==0.3.0  # fluidasserts.azure
azure-mgmt-keyvault==2.1.1  # fluidasserts.azure
azure-mgmt-network==9.0.0   # fluidasserts.azure
azure-mgmt-resource==8.0.1  # fluidasserts.azure
azure-mgmt-sql==0.16.0      # fluidasserts.azure
azure-mgmt-storage==7.2.0   # fluidasserts.azure
azure-mgmt-compute==10.0.0  # fluidasserts.azure
azure-mgmt-web==0.44.0      # fluidasserts.azure
azure-storage==0.36.0       # fluidasserts.azure
bandit==1.6.2               # fluidasserts.lang.python
bcrypt==3.1.7               # fluidasserts.proto.ssl
beautifulsoup4==4.8.2       # fluidasserts.helper.http_helper
boto3==1.12.5               # fluidasserts.cloud.aws
certifi==2019.11.28         # fluidasserts.proto.ssl
cffi==1.14.0                # fluidasserts.proto.ssl
colorama==0.4.3             # logging
configobj==5.0.6            # fluidasserts
cfn-flip==1.2.2             # fluidasserts.helper.cloudformation
cryptography==2.8           # fluidasserts.proto.ssl
cython==0.29.15             # fluidasserts.db.mssql
defusedxml==0.6.0           # fluidasserts.sca
dnspython==1.16.0           # fluidasserts.proto.dns
gitpython==3.0.8            # fluidasserts.proto.git
google-api-python-client==1.7.11     # fluidasserts.cloud.gcp
google-auth-httplib2==0.0.3    # fluidasserts.cloud.gcp
kubernetes==10.0.1          # fluidasserts.cloud.kubernetes
ldap3==2.6.1                  # fluidasserts.proto.ldap
mitmproxy==5.0.1            # fluidasserts.helper.proxy
mixpanel==4.5.0             # fluidasserts.utils.decorators
mysql-connector-python==8.0.19  # fluidasserts.db.mysql_db
names==0.3.0                # fluidasserts.helper.http
ntplib==0.3.3               # fluidasserts.proto.http
oyaml==0.9                  # fluidasserts
paramiko==2.7.1             # fluidasserts.helper.ssh_helper
pillow==7.0.0               # fluidasserts.format.captcha
psycopg2==2.8.4             # fluidasserts.db.postgresql
pyhcl==0.4.0                # fluidasserts.cloud.aws.terraform
pyopenssl==19.1.0           # fluidasserts.proto.ssl
pygments==2.5.2             # fluidasserts
pyjks==19.0.0               # fluidasserts.format.jks
pyjwt==1.7.1                # fluidasserts.format.jwt
pyodbc==4.0.30              # fluidasserts.db.mssql
pynacl==1.3.0               # fluidasserts.proto.ssl
pyparsing==2.4.6            # fluidasserts.lang
pypdf2==1.26.0              # fluidasserts.format.pdf
pysmb==1.1.28               # fluidasserts.proto.smb
pytesseract==0.3.2          # fluidasserts.format.captcha
python-dateutil==2.8.1      # fluidasserts.cloud.aws
python-magic==0.4.15        # fluidasserts.format.file
pytz==2019.3                # fluidasserts.proto.http
pywinrm==0.4.1              # fluidasserts.helper.winrm_helper
requests==2.23.0            # fluidasserts.proto.http
requirements-detector==0.6  # fluidasserts.sca
selenium==3.141.0           # fluidasserts.helper.http
tlslite-ng==0.8.0-alpha37   # fluidasserts.proto.ssl
typed-ast==1.4.1            # fluidasserts
viewstate==0.5.3            # fluidasserts.proto.http

