Django==1.11.23
Markdown==2.1.1
celery==3.1.26.post2
django-celery==3.2.2
djangorestframework==3.9.4
lxml==2.3
requests==2.5.1
PyYAML==3.10
django-codemirror-widget==0.4.0
django-recaptcha==1.0.3
django-cors-headers==3.0.2
rauth==0.7.1
musicbrainzngs==0.5

