# Requirements for the Heroku install via pip.
dash ==0.39.0
dash-table ==3.6.0
dash-core-components ==0.44.0
dash-html-components ==0.14.0
dash-renderer ==0.20.0
xlrd ==1.2.0
cython ==0.28.5
fastcache ==1.0.2
flask ==1.0.2
flask-compress ==1.4.0
gunicorn ==19.9.0
jupyter_core ==4.4.0
matplotlib ==2.2.3
nbformat ==4.4.0
numpy ==1.15.0
plotly ==3.1.1
scipy ==1.1.0
sympy ==1.2
pandas ==0.24.1