attrs==18.2.0
atomicwrites==1.2.1
coverage==4.5.2
Django==2.1.5
django-boogie==0.11.1
django-environ==0.4.4
djangorestframework==3.9.0
mccabe==0.6.1
mock==2.0.0
more-itertools==5.0.0
pbr==5.1.1
pluggy==0.8.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.0.1
pytest-cov==2.6.0
coverage==4.5.2
pytest-watch==4.2.0
pytest-django==3.4.5
pytz==2018.9
sidekick==0.4.2
six==1.12.0
toolz==0.9.0
django_cron==0.5.1
freezegun==0.3.11
Pygments==2.3.1
Markdown==3.0.1
coreapi==2.3.3

