# recent 1.8.0 has a bug: https://github.com/sphinx-doc/sphinx/issues/5460
# I had: ReferenceError: Stemmer is not defined
# when searched for something in browser
Sphinx==1.8.3

# This theme actually had bugs: https://github.com/sphinx-doc/sphinx/issues/5460
sphinx_rtd_theme
# See all themes: https://sphinx-themes.org/

sphinx-intl

