requests[security]
django==1.9.8
django-redis==4.3.0
psycopg2==2.6
numpy
pandas
Sphinx
django-polymorphic
manuel
mpld3
six
unipath
django_cron
matplotlib
djangorestframework
coverage==3.6
mock
flake8
python-boilerplate[dev]

