Fiona==1.8.3
matplotlib==2.0.0
numpy==1.13.1
pandas==0.22.0
pylint==1.8.2
pytest==3.4.2
rasterio==1.0.11
scikit_learn==0.21.3
xgboost==0.81
boto3==1.9.4
folium==0.6.0
geopandas==0.4.0
geojson==2.4.0
zest.releaser==6.15.2
click==6.7
geopandas==0.4.0
rasterstats==0.13.0
rtree==0.8.3
sphinx==1.8.4
sphinx_rtd_theme==0.4.3

