## pypi ###
# Essencial
git+https://gitlab.com/koyagami/libneko
git+https://github.com/rapptz/discord.py@rewrite
aiohttp

# DB
aioredis
motor

# Loop
uvloop

# Misc.
git+https://gitlab.com/koyagami/aiofp # new module from Espy; basically aiofiles but less messy
async_timeout
psutil
mcstatus
emoji
#simplejson
PyYAML
# libneko missing req.
aiofiles
requests
bs4
discordlists.py

# aiohttp buddies
aiodns
cchardet

# ### Git ###
# # Essencial
# git+https://gitlab.com/neko404notfound/libneko@master
# git+https://github.com/rapptz/discord.py@rewrite
# git+https://github.com/aio-libs/aiohttp@master

# # DB
# git+https://github.com/aio-libs/aioredis@master

# # Loop
# git+https://github.com/MagicStack/uvloop@master

# # Misc.
# git+https://github.com/Tinche/aiofiles@master
# git+https://github.com/aio-libs/async-timeout@master
# git+https://github.com/giampaolo/psutil
# git+https://github.com/simplejson/simplejson

