future
Django >= 1.11, < 1.12
django-crispy-forms
django-ace==1.0.2
djangorestframework < 3.7
django-rest-swagger
django-polymorphic < 2
django-dbbackup
tornado >= 5, < 6
pywebpush
django-filter < 2
CairoSVG==1.*
python-barcode
PyPDF2
mkdocs
Celery==3.*
django-celery
flower
requests
appypod
Pillow
lxml
html5lib
bs4
qrcode
Wand
python-dateutil
cssutils
pytidylib >= 0.3.2, < 0.4

